

@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Rubik+Bubbles&family=Spectral&family=Zilla+Slab:wght@300&display=swap');

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #533E2D;
    text-decoration: none;
    padding: 35px; 

}

nav a:hover {
    background-color: #DCE2C8;
    color: #6CAE75;
}

header {

    display: grid;
    grid-template-columns: 150px auto;
    align-self: center;
    background: rgba(162 , 112 , 53 , .7);
}

.intro {
    text-align: center; 
    margin-bottom: 30px;
}


.logo {
    padding-top: 5px;
    text-align: right;
    width: 80px;
    margin-left: 50 px;

}

.logo:hover {
    opacity: .6;
    transform: scale(1.1);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-self: center;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(162 , 112 , 53 , .7);
}

footer img {   
    padding-top: 5px;
    text-align: left;
    width: 80px;
    grid-column: 4/5;
}

footer img:hover {
    opacity: .6;
    transform: scale(1.1);
}

footer a {
    text-align: center;
    color: #533E2D;
    text-decoration: none;
    padding: 35px; 
}

.plan:hover {
    background-color: #DCE2C8;
    color: #6CAE75;
}

p {
    font-family: "Zilla Slab", "Spectral";
}

.title {
    color: #533E2D	;
    font-size: 2em;
    margin-top: 30px;
    text-align: center;
    font-family: "Poor Story", "Rubik Bubbles";
    
}

.home {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}



.band {

    border: 2em solid #533E2D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 500px;
    
}



.history {
    background-color: #DCE2C8;
    line-height: 1.5em;
    width: 75%;
    padding: 35px;
    grid-column: 3/4;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 0 auto;
    border: 5em;
}