

@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Rubik+Bubbles&family=Spectral&family=Zilla+Slab:wght@300&display=swap');

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #533E2D;
    text-decoration: none;
    padding: 35px; 

}

nav a:hover {
    background-color: #DCE2C8;
    color: #6CAE75;
}

header {

    display: grid;
    grid-template-columns: 150px auto;
    align-self: center;
    background: rgba(162 , 112 , 53 , .7);
}

.intro {
    text-align: center; 
    margin-bottom: 30px;
}


.logo {
    text-align: right;
    width: 80px;
    margin-left: 50 px;


}

.logo:hover {
    opacity: .6;
    transform: scale(1.1);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(162 , 112 , 53 , .8 );
}

footer img {   
    padding-top: 5px;
    text-align: left;
    width: 80px;
    grid-column: 4/5;
}

footer img:hover {
    opacity: .6;
    transform: scale(1.1);
}

footer a {
    text-align: center;
    color: #533E2D;
    text-decoration: none;
    padding: 35px; 
    font-family: "Zilla Slab", "Spectral";
}

.plan:hover {
    background-color: #DCE2C8;
    color: #6CAE75;
}

p {
    font-family: "Zilla Slab", "Spectral";
}

.title {
    color: #533E2D	;
    font-size: 2em;
    margin-top: 30px;
    text-align: center;
    font-family: "Poor Story", "Rubik Bubbles";
    
}

.tracks {
    color: white	;
    font-size: 2em;
    margin-top: 30px;
    text-align: center;
    font-family: "Poor Story", "Rubik Bubbles";

}

.track {
    font-weight: bold;
    text-shadow: 3px 3px black;
}

/* .home {
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
} */

.box {
    display: grid;
    grid-template-columns: 50px  1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 200px 1fr 1fr 200px ;
    
}



.band {

    border: 2em solid #533E2D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 500px;
    
}

.album {

    /* line-height: 1.5em;
    width: 75%;
    padding: 35px;
    color: white;
    z-index: 3;
    border: 5em;
    position: absolute;
    margin: 0 auto;
 */
        
    line-height: 1.5em;
    width: 75%;
    padding: 35px;
    grid-column: 3/8;
    grid-row: 1/3;
    color: white;
    margin: 0 auto;
    border: 5em;
    z-index: 5;

}

.space {

    /* z-index: 1;
    width: 80%;
    grid-column: 2/6;
    margin: 0 auto; */


    /* width: 90%;
    grid-row: 1/2 ;
    grid-column: 1/5;
    margin: 0 auto;
    border: 5px; */
    height: 55%;
    width: 70%;
    grid-column: 1/10;
    grid-row: 1/4;
    margin: 0 auto;
    border: 5em;
    z-index: 2;
    box-shadow:  20px 30px #533E2D;
}

ol {
    columns: 2 6em;
    padding: 35px;
    font-family: "Zilla Slab", "Spectral" ;
    margin: 0 auto;
}

.faq {
    
    line-height: 1.5em;
    width: 75%;
    padding: 35px;
    grid-column: 3/4;

    margin: 0 auto;
    border: 5em;
}

/* .brun {
    background-color: #533E2D;
    color: #533E2D;
    /* text-align: center;
    grid-column: 1/8;
    grid-row: 2/3; 

    height: 67%;
    width: 100%;
    grid-column: 1/8;
    grid-row: 2/8;
    margin: 0 auto;
 
    z-index: 1;
} */

.history {
    background-color: #DCE2C8;
    line-height: 1.5em;
    width: 75%;
    padding: 35px;
    grid-column: 3/4;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 0 auto;
    border: 5em;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background: rgba(162 , 112 , 53 , .7);
    font-family: "Zilla Slab", "Spectral";
    z-index: 6;
 
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #533E2D;
    text-align: center;
    padding: 14px;
    text-decoration: none;
   
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  
  @media screen and (max-width: 900px) {
    .brown{
        display: none;
    }
    .space {
        display: none;
    }
    
    .album{
        color: black;
        box-shadow: 5px 5px 10px #6f7364;
        background-color: #DCE2C8;
    }

    .brun{
        display: none;
    }
    .tracks {
        color: #533E2D;
    }
    .track {
        text-shadow: none;
    }
    ol{
        columns: 1;
    }
  }